<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcom to Xduel!</title>
    <link rel="stylesheet" href="/css/authstyle.css" type='text/css'>
</head>
<body>
    <div class="container column">
        <img class="logo" src="/images/logo.png" alt="Xduel_logo">
        <div class="row">
            <div class="signup">
            <h1 id="hh">SIGN UP</h1>
            <form action="" id="formsignup">
                <input id="login" type="text" placeholder="Login" name="login"><br>
                <input id="password" type="password" placeholder="Password" name="password"><br>
                <input id="email" type="text" placeholder="Email" name="email"><br>
                <input id="submit" type="button" value="Sign up">
            </form>
            </div>
            <div class="signin">
                <h1 id="hh">SIGN IN</h1>
                <form action="" id="formsignin">
                    <input id="log" type="text" placeholder="Login" name="log"><br>
                    <input id="pass" type="password" placeholder="Password" name="pass"><br>
                    <input id="enter" type="button" value="Sign in">
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/js/reg.js"></script>
    </div>
</body>
</html>