<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profilestyle.css" type='text/css'>
</head>
<body>
    <img id="ulogo" src="images/U.png">

    <h1 id="greet">Hello</h1>
    <!--<h1 id="rating">Rating</h1>-->
    <h1 id="singlerating">Rating</h1>

    <input id="startsinglebtn" type="button" value="SINGLEGAME">
    <input id="startbtn" type="button" value="MULTIPLAYER (Soon)">
    <input id="recordsbtn" type="button" value="RECORDS">
    <input id="snowmodebtn" type="button" value="ЗИМНИЙ РЕЖИМ">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/profile.js"></script>

    <footer>&copy Xduel Все права защищены. Это приложение Влада и Аслана. Но в большей степени Влада.</footer>
</body>
</html>