<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xduel</title>
    <link rel="stylesheet" href="/css/snowmodestyle.css" type="text/css">
</head>
<body>
    <canvas id="arena"></canvas>
    <div style="display:none;">
        <img id="playerImage" src="/images/player.png">
        <img id="botImage" src="/images/bot.png">
        <img id="cloudImage" src="/images/xmastree.png">
        <img id="cloudImage2" src="/images/xmastree2.png">
        <img id="fireball" src="/images/snowball.png">
        <img id="flame" src="/images/snow.png">
        <img id="flamebot" src="/images/snowbot.png">
        <img id="playerCast" src="/images/player_cast.png">
        <img id="botCast" src="/images/bot_cast.png">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/singlegame.js"></script>
</body>
</html>